$green: #bac34e;
$black: #222;
$pinkColor: #e72463;
$light-color: #666;
$light-bg: #f3f3f3;
$border: 1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

$primary-color: #3498db;
$input-border-color: #ccc;
$input-focus-color: #2980b9;
$error-color: #e74c3c;
$button-hover-color: #2ecc71;
